# [submodule "site-lisp/zencoding"]
# 	path = site-lisp/zencoding
# 	url = http://github.com/rooney/zencoding.git
# 	ignore = dirty
# [submodule "themes/zenburn"]
# 	path = themes/zenburn
# 	url = https://github.com/listx/zenburn-emacs.git
# 	ignore = dirty
# [submodule "site-lisp/expand-region.el"]
# 	path = site-lisp/expand-region.el
# 	url = https://github.com/magnars/expand-region.el.git
# 	ignore = dirty
# [submodule "site-lisp/multiple-cursors.el"]
# 	path = site-lisp/multiple-cursors.el
# 	url = https://github.com/magnars/multiple-cursors.el.git
# 	ignore = dirty
# [submodule "site-lisp/markdown-mode"]
# 	path = site-lisp/markdown-mode
# 	url = git://jblevins.org/git/markdown-mode.git
# 	ignore = dirty
# [submodule "site-lisp/org-mode"]
# 	path = site-lisp/org-mode
# 	url = git://orgmode.org/org-mode.git
# 	ignore = dirty
# [submodule "site-lisp/ido-ubiquitous"]
# 	path = site-lisp/ido-ubiquitous
# 	url = https://github.com/technomancy/ido-ubiquitous.git
# [submodule "site-lisp/smex"]
# 	path = site-lisp/smex
# 	url = https://github.com/nonsequitur/smex.git
# [submodule "site-lisp/mustache"]
# 	path = site-lisp/mustache
# 	url = https://github.com/mustache/emacs.git
# [submodule "site-lisp/less-css-mode"]
# 	path = site-lisp/less-css-mode
# 	url = https://github.com/purcell/less-css-mode.git
# [submodule "site-lisp/js3-mode"]
# 	path = site-lisp/js3-mode
# 	url = https://github.com/thomblake/js3-mode.git
[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
	ignore = dirty
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
	ignore = dirty
[submodule "site-lisp/python-mode"]
	path = site-lisp/python-mode
	url = https://github.com/emacsmirror/python-mode.git
	ignore = dirty
[submodule "site-lisp/emacs-color-theme-solarized"]
	path = site-lisp/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git

